grids = 12,16
gutter = 20

[class^=grid] {
  box-sizing: border-box;
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  [class^=col] {
    float: left;
    box-sizing: border-box;
    padding: 0 unit(gutter, 'px');

    & > [class^=col]:first-child {
      padding-left: 0px;
    }
    & > [class^=col]:last-child {
      padding-right: 0px;
    }
  }
}

.grid-pad {
  padding: unit(gutter, 'px');
}

for grid in grids {
  .grid{grid} {
    for col in 1..grid {
      .col{col} {
        width: unit(col/grid * 100, '%');
      }
    }
  }
}
